body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  z-index: 22;
}

q:before, q:after {
  content: '';
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  font-weight: 400;
  font-size: 15px;
  color: #1d3c41;
  overflow-y: scroll;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.clr {
  clear: both;
}

.container > header {
  padding: 20px 30px 10px 30px;
  margin: 0 20px 10px 20px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container > header h1 {
  font-family: Arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
  color: rgba(26, 89, 120, 0.9);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0 0 5px 0;
}

.container > header h1 span {
  color: #7cbcd6;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

#wrapper {

  text-align: left;
  padding: 0;
  font-family: Arial, sans-serif;

  right: 0;
  min-height: 630px;
  margin: 0 auto;
  max-width: 500px;
  min-width: 250px;
  position: relative;
}

#wrapper a {
  color: rgb(95, 155, 198);
  text-decoration: underline;
}

#wrapper h1 {
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1 {
  background: -webkit-repeating-linear-gradient(-45deg,
  rgb(18, 83, 93),
  rgb(18, 83, 93) 20px,
  rgb(64, 111, 118) 20px,
  rgb(64, 111, 118) 40px,
  rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: content-box;
}

#wrapper h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(147, 184, 189, 0)), color-stop(20%, rgba(147, 184, 189, 0.8)), color-stop(53%, rgba(147, 184, 189, 1)), color-stop(79%, rgba(147, 184, 189, 0.8)), color-stop(100%, rgba(147, 184, 189, 0)));
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

#wrapper p {
  margin-bottom: 15px;
}

#wrapper p:first-child {
  margin: 0;
}

#wrapper label {
  color: rgb(64, 92, 96);
  position: relative;
}

::-webkit-input-placeholder {
  color: rgb(190, 188, 188);
  font-style: italic;
}

input:-moz-placeholder {
  color: rgb(190, 188, 188);
  font-style: italic;
}

input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]) {
  width: 96%;
  margin-top: 4px;
  padding: 10px 5px 10px 14px;
  border: 1px solid rgb(178, 178, 178);
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus {
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2);
  -webkit-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
  -moz-box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

#wrapper p.button input {
  width: 130px;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  border: 1px solid rgb(28, 108, 122);
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#wrapper p.button input:hover {
  background: rgb(74, 179, 198);
}

#wrapper p.button input:active,
#wrapper p.button input:focus {
  background: rgb(40, 137, 154);
  position: relative;
  top: 1px;
  border: 1px solid rgb(12, 76, 87);
  -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

p.claim.button {
  text-align: right;
  margin: 5px 0;
}

p.faucet_link {
  position: center;
  color: rgb(127, 124, 124);
  left: 0;
  height: 20px;
  max-width: 500px;
  min-width: 250px;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid rgb(219, 229, 232);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#wrapper p.faucet_link a {
  display: inline-block;
  font-weight: bold;
  background: rgb(247, 248, 241);
  padding: 2px 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgb(203, 213, 214);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#wrapper p.faucet_link a:hover {
  color: rgb(57, 191, 215);
  background: rgb(247, 247, 247);
  border: 1px solid rgb(74, 179, 198);
}

#wrapper p.faucet_link a:active {
  position: relative;
  top: 1px;
}

#claim {
  position: absolute;
  top: 0;
  width: 88%;
  padding: 18px 6% 10px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, 0.8);
  -moz-box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#stats {

  width: 88%;
  padding: 18px 6% 10px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, 0.8);
  -moz-box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#claim {
  z-index: 22;
}

.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;

  -moz-animation-duration: 0.5s;
  -moz-animation-fill-mode: both;

  -o-animation-duration: 0.5s;
  -o-animation-fill-mode: both;

  -ms-animation-duration: 0.5s;
  -ms-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.lt8 #wrapper input {
  padding: 10px 5px 10px 32px;
  width: 92%;
}

.lt8 #wrapper h1 {
  color: #066A75;
}

.lt8 p.faucet_link,
.ie9 p.faucet_link {
  position: absolute;
  height: 90px;
  background: transparent;
}

#stats-wrapper {

  text-align: left;
  padding: 0;
  font-family: Arial, sans-serif;

  right: 0;
  min-height: 630px;
  margin: 0 auto;
  max-width: 500px;
  min-width: 250px;
  position: relative;
}

#stats-wrapper a {
  color: rgb(95, 155, 198);
  text-decoration: underline;
}

#stats-wrapper h1 {
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#stats-wrapper h1 {
  background: -webkit-repeating-linear-gradient(-45deg,
  rgb(18, 83, 93),
  rgb(18, 83, 93) 20px,
  rgb(64, 111, 118) 20px,
  rgb(64, 111, 118) 40px,
  rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: content-box;
}

#stats-wrapper h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(147, 184, 189, 0)), color-stop(20%, rgba(147, 184, 189, 0.8)), color-stop(53%, rgba(147, 184, 189, 1)), color-stop(79%, rgba(147, 184, 189, 0.8)), color-stop(100%, rgba(147, 184, 189, 0)));
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

#stats-wrapper p {
  margin-bottom: 15px;
}

#stats-wrapper span {
  font-size: 13px;
}

#stats-wrapper p:first-child {
  margin: 0;
}

#stats-wrapper label {
  color: rgb(64, 92, 96);
  position: relative;
}

#stats-wrapper p.button input {
  width: 130px;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  border: 1px solid rgb(28, 108, 122);
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  -moz-box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0 0 0 3px rgb(254, 254, 254),
  0 5px 3px 3px rgb(210, 210, 210);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.lt8 #stats-wrapper h1 {
  color: #066A75;
}