<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{faucet.title}"></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
    </head>

    <body>

        <br/>
        <br/>

        <div id="wrapper">
            <div id="claim" class="animate form">
                <form autocomplete="on" action="#" th:action="@{/}" method="post">
                    <h1 th:text="#{faucet.form.title}" ></h1>

                    <p th:text="${param.error[0]}" th:unless="${param.error == null}" style="color: red"></p>

                    <p th:text="${param.success[0]}" th:unless="${param.success == null}"></p>
                    <br/>
                    <label for="accountId" th:text="#{faucet.form.account.label}" ></label>
                    <br/>
                    <label th:text="#{faucet.form.account.notice}" style="color: #3D9DB3; font-size: 11px;" ></label>
                    <input id="accountId" type="text" th:placeholder="#{faucet.form.account.placeholder}" required="required" name="accountId"/>
                    <br/>
                    <br/>

                    <div class="g-recaptcha" style="height:78px; text-align: center" th:attr="data-sitekey=${reCaptchaPublicKey}"></div>
                    <br/>

                    <p class="claim button">
                        <input type="submit" th:value="#{faucet.form.button.claim}"/>
                    </p>

                    <p class="faucet_link">
                        <a class="to_register" th:href="${linkUrl}">
                            <span th:text="${linkText}"></span>
                        </a>
                    </p>
                </form>
            </div>
        </div>

        <div id="stats-wrapper">
            <div id="stats">

                <h1 th:text="#{faucet.stats.donations.title}"></h1>

                <p th:text="${totalDonated}"></p>

                <div th:each="donate,iterStat : ${donations}">
                    <span th:text="${donate}"></span>
                </div>

                <br/><br/><br/>

                <h1 th:text="#{faucet.stats.claims.title}"></h1>

                <p th:text="${totalClaimed}"></p>

                <div th:each="claim,iterStat : ${claims}">
                    <span th:text="${claim}"></span>
                </div>

                <br/>

            </div>
        </div>

        <br/>
        <br/>
        <br/>

    </body>

</html>