<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
        <title>Burstcoin Faucet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    </head>

    <body>

        <div id="burstcoin_faucet">
            <br/><br/>

            <div id="wrapper">
                <div id="claim" class="animate form">
                    <form autocomplete="on" action="#" th:action="@{/}" method="post">
                        <h1>Burstcoin Faucet</h1>

                        <p th:text="${param.error[0]}" th:unless="${param.error == null}" style="color: red"></p>

                        <p th:text="${param.success[0]}" th:unless="${param.success == null}"></p>

                        <br/>

                        <label for="accountId"> Your Burstcoin Account </label>
                        <input id="accountId" type="text" placeholder="'Account ID' or 'Numeric Account ID'" required="required" name="accountId"/>

                        <br/>
                        <br/>

                        <div class="g-recaptcha" style="height:78px; text-align: center" th:attr="data-sitekey=${reCaptchaPublicKey}"></div>

                        <br/>

                        <p class="claim button">
                            <input type="submit" value="Claim Burst"/>
                        </p>

                        <p class="faucet_link">
                            <a class="to_register" href="https://github.com/de-luxe/burstcoin-faucet">
                                <span th:text="${faucetAccount}"></span>
                                -
                                <span th:text="${faucetBalance}"></span>
                            </a>
                        </p>
                    </form>
                </div>

            </div>
        </div>

    </body>

</html>